

.jumbotron {
    background-image: url('viruses-bacteria-fungi.jpeg');
    background-size: cover;
    color: #f7f7f7;
    font-family: Georgia;

}


.well {
   background-color: #497eb9;
   
}


.container{
    color: rgb(28, 28, 128);
  
}

.panel-title{
    color: rgb(28, 28, 128);

};

